:root {
  --main-gradient: linear-gradient(
    90deg,
    #e96d00 0%,
    #f98017 39%,
    #f59745 100%
  );
  --purple-gradient: linear-gradient(
    90deg,
    #ca00e9 12%,
    #f917f6 76%,
    #de45f5 100%
  );
  --blue-gradient: linear-gradient(
    90deg,
    #0052e9 0%,
    #1766f9 39%,
    #4582f5 100%
  );
  --green-gradient: linear-gradient(
    90deg,
    #13e900 0%,
    #22f917 39%,
    #53f545 100%
  );
  --primary-orange: #e96d00;
  --clr-secondary: #ffe6d0;
  --text-secondery: #1e2a38;
  --primary-grey: #747474;
  --clr-red: #b71c1c;
  --bg-red: #fdecea;
  --clr-green: #2e7d32;
  --bg-green: #e8f5e9;
  --clr-red2: #e80101;
  --bg-red2: #ffd0d0;
}

.cal-filters-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.cal-filters-selects {
  display: flex;
  justify-content: center;
  gap: 18px;
  width: 100%;
  max-width: 454px;
}
.cal-select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cal-filter-wrapper {
  position: relative;
  width: 100%;
  max-width: 218px;
}
.cal-filter-select {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-grey);
  border: 1px solid var(--primary-grey);
  border-radius: 10px;
  padding: 7.5px 30px 7.5px 15px;
  width: 100%;
  max-width: 218px;
  appearance: none;
  cursor: pointer;
}
.cal-filter-select:focus {
  box-shadow: none;
  outline: none;
}
.cal-filter-wrapper .icon {
  position: absolute;
  right: 10px;
  top: 20%;
}
.cal-select-btn {
  background-color: var(--clr-secondary);
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-grey);
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  &:hover {
    background-color: #e96d0075;
  }
  &.selected {
    background-color: var(--primary-orange);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    scale: 1.05;
  }
}
.cal-select-btn:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cal-select-btn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.calendar-box {
  background-color: white;
  margin: 0 20px;
  border-radius: 14px;
  padding-bottom: 20px;
}
.calendar-head {
  text-align: center;
  padding: 10px;
}
.cal-day-name {
  background-color: #f7f7f7;
  border-radius: 8px;
  margin: 0;
  margin-bottom: 5px;
  color: var(--primary-orange);
  font-size: 16px;
  font-weight: 500;
}
.cal-day-num {
  width: 30px;
  height: 30px;
  background: var(--main-gradient);
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 100%;
  text-align: center;
}
.day-grid-wrapper {
  display: flex;
  height: 620px;
  gap: 38px;
  overflow: scroll;
  scrollbar-width: none;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 15px;
  position: relative;
}
.hours-label {
  max-width: 80px;
}
.cal-hour {
  box-sizing: border-box;
  display: block;
  height: 68px;
  padding-left: 10px;
}
.cal-hour-text {
  font-size: 16px;
  font-weight: 300;
  color: var(--primary-grey);
  display: block;
  transform: translateY(-50%);
}
.calendar-row {
  height: 68px;
  box-sizing: border-box;
  width: calc(100% + 10px);
  border-top: 1px dashed #dcdcdc;
  transform: translateX(-20px);
}
.calendar-grid {
  position: relative;
  width: 100%;
  flex-grow: 1;
  height: calc(24 * 68px);
}
.vertical-line {
  width: 1px;
  background-color: #dcdcdc;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}

/* cal event */

.cal-event-object {
  position: absolute;
  border-radius: 5px;
  padding: 5px;
  border-left: 5px solid;
}
.cal-event-title {
  font-size: 14px;
  margin-bottom: 2.29px;
}
.cal-event-duration {
  font-size: 14px;
  font-weight: 300;
  color: var(--primary-grey);
}

/* timeline */

.current-time-line {
  position: absolute;
  left: 45px;
  width: calc(100% - 55px);
  transform: translateY(-40%);
  z-index: 1;
  > span {
    font-size: 12px;
    color: #ff0c0c;
    font-weight: 300;
  }
}
.line-wrapper {
  position: relative;
  hr {
    border: 1px solid #ff0c0c;
    margin: 0;
  }
  > span{
    width: 6px;
    height: 6px;
    background-color: #ff0c0c;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
