:root{
    --main-gradient: 
        linear-gradient(90deg, #E96D00 0%, #F98017 39%, #F59745 100%);
    --purple-gradient:
        linear-gradient(90deg, #CA00E9 12%, #F917F6 76%, #DE45F5 100%);
    --blue-gradient: 
        linear-gradient(90deg, #0052E9 0%, #1766F9 39%, #4582F5 100%);
    --green-gradient: 
        linear-gradient(90deg, #13E900 0%, #22F917 39%, #53F545 100%);
    --primary-orange: #E96D00;
    --clr-secondary: #FFE6D0;
    --text-secondery: #1E2A38;
    --primary-grey: #747474;
    --clr-red: #b71c1c;
    --bg-red: #fdecea;
    --clr-green: #2e7d32;
    --bg-green: #e8f5e9;
    --clr-red2: #E80101;
    --bg-red2: #FFD0D0;
}

/*popups*/
.popup{
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111111;
    animation: 
        slideIn 0.2s forwards,
        slideOut 0.2s 2.6s forwards;
}
@keyframes slideIn {
    to{
        top: 10%;
    }
}
@keyframes slideOut{
    to{
        top: -10%;
    }
}
.popup.success{
    background-color: #F1F9F4;
    border: 1px solid #62B07A;
}
.popup.warn{
    background-color: #FFF9EB;
    border: 1px solid #D7B757;
}
.popup.error{
    background-color: #FCEFEA;
    border: 1px solid #A84A4C;
}
.popup-icon{
    font-size: 40px;
}
.popup.success .popup-icon{
    color: #62B07A;
}
.popup.warn .popup-icon{
    color: #D7B757;
}
.popup.error .popup-icon{
    color: #A84A4C;
}
.popup-name{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.popup-desc{
    font-size: 18px;
    color: #747474;
    margin: 0;
}
.popup-close-x{
    color: #747474;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 18px;
    cursor: pointer;
}

/*profile-side*/

.profile-side-container{
    position: sticky;
    width: 100%;
    max-width: 292px;
    top: 30px;
    left: 20px;
}
.pr-side-part-title{
    background: var(--main-gradient);
    background-clip: text;
    color: transparent;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
.pr-side-part-title-box{
    background-color: #FEAE6825;
    border-radius: 4px;
    padding: 7px 0 7px 20px;
}
.pr-side-part-list{
    padding: 0;
    margin: 0;
    padding: 20px 0;
}
.pr-side-part-list li{
    padding-left: 20px;
    list-style: none;
    font-size: 18px;
    cursor: pointer;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
    &:hover{
        background-color: #FFE6D050;
    }
}
.pr-side-part-list li.pr-side-selected{
    background: var(--main-gradient);
    background-clip: text;
    font-weight: 600;
    color: transparent;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 4px;
        height: 41px;
        background: var(--main-gradient);
        right: 0;
    }
}

