.popup{
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111111;
    animation: 
        slideIn 0.2s forwards,
        slideOut 0.2s 2.6s forwards;
}
@keyframes slideIn {
    to{
        top: 10%;
    }
}
@keyframes slideOut{
    to{
        top: -10%;
    }
}
.popup.success{
    background-color: #F1F9F4;
    border: 1px solid #62B07A;
}
.popup.warn{
    background-color: #FFF9EB;
    border: 1px solid #D7B757;
}
.popup.error{
    background-color: #FCEFEA;
    border: 1px solid #A84A4C;
}
.popup-icon{
    font-size: 40px;
}
.popup.success .popup-icon{
    color: #62B07A;
}
.popup.warn .popup-icon{
    color: #D7B757;
}
.popup.error .popup-icon{
    color: #A84A4C;
}
.popup-name{
    color: black;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.popup-desc{
    font-size: 18px;
    color: #747474;
    margin: 0;
}
.popup-close-x{
    color: #747474;
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 18px;
    cursor: pointer;
}