:root{
    --main-gradient: linear-gradient(90deg, #E96D00 0%, #F98017 39%, #F59745 100%);
    --primary-orange: #E96D00;
    --clr-secondary: #FFE6D0;
    --text-secondery: #1E2A38;
    --primary-grey: #747474;
}
.loading-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2222;
}
.loading-container.t4b{
    background: linear-gradient(
        45deg,
        #FBC596 0%,
        #ffffff 50%,
        #B0E3DB 100%
    );
}
.loading-container.t4f{
    background: linear-gradient(
        225deg,
        #FBC596 0%,
        #ffffff 50%,
        #B0E3DB 100%
    );
}
.loading-text-content h3{
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px;
}
.loading-text-content.t4b h3{
    color: #004C46;
}
.loading-text-content.t4f h3{
    color: var(--primary-orange);
}
.loading-text-content p{
    font-size: 14px;
    margin: 0;
}
.loading-container.t4b{
    color: #26433E;
}
.loading-container.t4f{
    color: var(--text-secondery);
}
.loading-text-content{
    text-align: center;
    margin-top: 38px;
}
.loading-circle-wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading-circle{
    width: 106px;
    height: 106px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading-circle.t4b{
    background: linear-gradient(
        90deg, 
        #17978B 0%, 
        #2BAF9B 39%,
        #61D4C0 100%
    );
}
.loading-circle.t4f{
    background: var(--main-gradient);
}
.loading-circle-box{
    padding: 25px;
    border-radius: 100%;
    position: relative;
    scale: 0.75;
    animation: resizeCircle .5s infinite linear alternate;
}
.loading-circle-box.t4b{
    border: 4px solid #E0F5EF;
}
.loading-circle-box.t4f{
    border: 4px solid var(--clr-secondary);
}
.loading-circle-box.t4b::after{
    border-top-color: #2BAF9B;
}
.loading-circle-box.t4f::after{
    border-top-color: #F98017;
}
.loading-circle-box::after{
    content: "";
    position: absolute;
    width: 156px;
    height: 156px;
    bottom: -4px; /* border */
    left: -4px;
    border-radius: 100px;
    border: 4px solid transparent;
    rotate: -45deg;
    animation: rotateCircle 1.5s infinite linear;
}
@keyframes rotateCircle{
    to{
        rotate: 315deg;
    }
}
@keyframes resizeCircle{
    to{
        scale: 1;
    }
}