
:root{
    --main-gradient: linear-gradient(90deg, #E96D00 0%, #F98017 39%, #F59745 100%);
    --primary-orange: #E96D00;
    --clr-secondary: #FFE6D0;
    --text-secondery: #1E2A38;
    --primary-grey: #747474;
    --clr-red: #b71c1c;
    --bg-red: #fdecea;
    --clr-green: #2e7d32;
    --bg-green: #e8f5e9;
}

*{
    font-family: Poppins;
}
body{
    overflow: hidden;
}

/* main */

.events-main{
    margin-top: 96px;
    margin-left: 100px;
    margin-right: 10px;
}
.main-events-container{
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow-y: auto;
    height: calc(100vh - 106px);
    margin-bottom: 100px;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

.main-events-container::-webkit-scrollbar{
    display: none; /* Chrome, Safari */
}

/* add event */

.steps {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  position: relative;
}

.step {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.step span {
  display: block;
  width: 100%;
  max-width: 200px;
  padding: 6px 16px;
  border-radius: 25px;
  background-color: var(--clr-secondary);
  color: var(--primary-orange);
  font-weight: 600;
  font-size: clamp(12px, 1.5vw, 14px); /* płynnie reaguje na rozdzielczość */
  white-space: nowrap;
  text-align: center;
  transition: 0.3s all;
  font-family: Poppins;
}

.step.active span {
  background-color: var(--primary-orange);
  color: #fff;
}

.step.far span {
  opacity: 0.4;
}

/* linia między krokami */
.step:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translateY(-50%);
  width: 100%;
  height: 6px;
  background-color: var(--clr-secondary);
  z-index: -1;
}

/* wyrównanie, żeby linie nie znikały na małych ekranach */

.event-inputs{
    margin: 24px 59px;
}
.event-input-box{
    border: 1px rgb(197, 195, 195) solid;
    padding: 12px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
.box-for-2-boxes{
    display: flex;
    justify-content: center;
    gap: 23.5px;
}
.box-for-2-boxes .event-input-box{
    width: 100%;
}
.event-input-box-title{
    font-size: 18px;
    color: var(--text-secondery);
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 18px;
}
.num-icon{
    font-size: 14px;
    border: 1px solid var(--text-secondery);
    border-radius: 200px;
    min-width: 22px;
    min-height: 22px;
    display: inline-block;
    text-align: center;
}
.info-icon{
    font-size: 24px;
}
.event-props-input{
    /* width: 414px; */
    height: 36px;
    padding: 0 10px;
    border: none;
    font-size: 14px;
    outline: 1px solid #74747450;
    border-radius: 10px;
    background: transparent;
}
#event-title-input{
    /* width: clamp(380px, 468px, 468px); */
    max-width: 468px;
}
.event-props-input:focus{
    outline: 2px solid var(--primary-orange);
    box-shadow: 0 0 10px 0 var(--primary-orange);
}
.select-wrapper{
    position: relative;
    width: calc(100% - 40px);
    max-width: 414px;
    text-align: center;
}
.event-input-box select{
    height: 36px;
    outline: 1px solid #74747450;
    font-size: 18px;
    padding: 0 34px 0 10px;
    border: none;
    background: transparent;
    font-family: inherit;
    appearance: none;   
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border-radius: 10px;
}
select:focus{
    outline: 2px solid var(--primary-orange);
    box-shadow: 0 0 10px 0 var(--primary-orange);
}
.foot-img{
    position: absolute;
    top: 20%;
    left: 25px;
}
#eventTimeSelect{
    /* width: 120px; */
    max-width: 120px;
}
#eventCategorySelect {

    padding-left: 30px;
}
.event-category-select-arrow{
    position: absolute;
    right: 30px;
    top: 30%;
}
.event-category-select option:hover{
    background-color: var(--primary-orange);
}
#event-small-desc-input{
    /* width: 803px; */
    height: 54px;
    padding: 4px 10px;
    max-width: 803px;
}
textarea{
    resize: none;
}
.event-input-box:not(.box-for-2-boxes .event-input-box){
    margin-top: 24px;
}
#event-big-desc-input{
    /* width: 803px; */
    height: 108px;
    padding: 4px 10px;
    max-width: 803px;
}
#event-date-input{
    width: 468px;
    /* max-width: 468px; */
}
.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    width: 80%;
    gap: 20px;
}
.event-props-label{
    font-size: 14px;
    text-align: left;
    color: var(--text-secondery);
}
.event-time-select{
    /* width: 128px; */
    height: 36px;
    outline: 1px solid #74747450;
    font-size: 18px;
    padding: 0 34px 0 10px;
    border: none;
    background: transparent;
    font-family: inherit;
    appearance: none;   
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border-radius: 10px;
}
.event-time-select-arrow{
    position: absolute;
    top: 30%;
    right: 10px;
}
.time-input-box, .duration-input-box{
    position: relative;
    white-space: nowrap;
}
.event-icon{
    width: 20px;
    height: 20px;
    color: var(--primary-grey);
    padding-right: 8px;
}
.event-props-input{
    width: 468px;
    height: 36px;
    font-size: 18px;
    color: var(--text-secondery);
}
#event-hour-input{
    width: 86px;
    /* max-width: 86px; */
}
.second-row{
    margin-top: 18px;
}
.repeat-q-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
}
.repeat-q-buttons {
    display: flex;
    justify-content: center;
}
.repeat-q-buttons button{
    background-color: var(--clr-secondary);
    border: none;
    color: var(--primary-orange);
    font-size: 14px;
    font-weight: 600;
    padding: 6px 25px;
    cursor: pointer;
    transition: 0.3s background-color, 0.3s color;
}
#rb1{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
#rb2{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.repeat-q-text{
    font-weight: normal;
    font-size: 18px;
    color: var(--text-secondery);
    margin: 0;
}
.repeat-q-buttons button.rpt-selected{
    background-color: var(--primary-orange);
    color: #fff;
}
.opacity-down{
    position: relative;
}
.opacity-down button, .opacity-down .repeat-q-text{
    cursor: default;
    user-select: none;
}
.opacity-down-popup{
    width: 200px;
    background-color: var(--clr-secondary);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: -25%;
    opacity: 0;
    user-select: none;
    border-radius: 10px;
    border: 1px solid var(--primary-orange);
}
.opacity-down-popup p{
    color: var(--primary-orange);
    font-size: 14px;
    margin: 0;
}
.opacity-down:hover .opacity-down-popup{
    animation: showElement 0.1s 0.3s linear forwards;
}
@keyframes showElement{
    to{
        opacity: 1;
    }
}
.third-row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin: 24px 0;
}
.repeatable-selects-box{
    position: relative;
}
.repeatIcon{
    padding-right: 4px;
    min-width: 20px;
    max-height: 12px;
}
#rp-select1{
    width: 459px;
}
.repeatable-selects-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
#ad1{
    left: calc(50% - 15px);
}
#ad1{
    right: 0;
}
#rp-freq-select{
    width: 292px;
}
.rp-freq-box{
    position: relative;
}
.location-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
#eventCitySelect{
    /* width: 287px; */
    max-width: 287px;
}
#eventStreetInput{
    /* width: 402px; */
    max-width: 402px;
}
#eventPostialInput{
    /* width: 86px; */
    max-width: 86px;
}
#eventStreetNumberInput, #eventFlatNumberInput{
    /* width: 51px; */
    max-width: 51px;
}
.map-row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.map{
    width: 100%;
    max-width: 823px;
    height: 223px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    margin-top: 23px;
}

.steps.steps2 .step::after{
    background-color: var(--primary-orange);
    color: white;
}
.event-button{
    padding: 6px 22px;
    border-radius: 25px;
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s background-color, 0.3s color;
    text-align: center;
    border: none;
    cursor: pointer;
}
.event-buttons{
    display: flex;
    justify-content: center;
    gap: 10px 30px;
    flex-wrap: wrap;
}
.ev-btn-selected{
    background-color: var(--primary-orange);
    color: white;
    font-weight: 600;
}

/* Usunięcie strzałek w Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}

.number-of-participants-input-box{
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-props-input-2{
    appearance: textfield; /* Usunięcie strzałek w Firefox */
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
    border: none;
    outline: 1px solid rgba(116, 116, 116, 0.5);
}
#event-number-of-participants-input{
    width: 34px;
    height: calc(100% - 2px);
    color: var(--primary-orange);
    font-family: 600;
    caret-color: black;
    z-index: 1;
}
#event-number-of-participants-input:focus{
    outline-color: black;
}
.plus, .minus{
    padding: 6px 18px;
    background-color: var(--primary-orange);
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    user-select: none;
}
.minus{
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.plus{
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.next-stage{
    background: var(--main-gradient);
    color: white;
    border: none;
    padding: 4px 29px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.next-btn-box{
    display: flex;
    justify-content: right;
    margin: 0 59px 21px 0;
}
#event-price-input{
    width: 198px;
    padding-right: 23px;
    margin-bottom: 24px;
}
.event-price-input-box{
    position: relative;
}
.zl-text{
    position: absolute;
    right: 10px;
    top: 10%;
    font-size: 18px;
}
#guest-name-input,
#guest-surname-input,
#guest-nickname-input{
    max-width: 213px;
}
.enumeration{
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    font-size: 18px;
}
.main-events-container .image-input-wrapper{
    width: 239px;
    height: 142px;
}
.main-events-container .img-input-box{
    width: 100%;
    height: 100%;
    border-radius: 14px;
}
.add-special-guest{
    color: var(--primary-orange);
    font-size: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 28px auto 0 auto;
}

.guest-inputs{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: flex-end;
}
.event-input-box.opacity-down *{
    user-select: none;
    pointer-events: none;
}
.event-input-box.opacity-down *:not(.opacity-down-popup, .opacity-down-popup p){
    opacity: .5;
}
.event-input-box .opacity-down-popup{
    top: 0;
}
.event-input-box.opacity-down{
    border-color: rgba(197, 195, 195, 0.25);
}

/* events */
.evd-img{
    width: 100%;
    height: 204px;
    object-fit: cover;
}
.no-trainers-text{
    font-size: 22px;
    text-align: center;
    margin: 0;
    color: var(--text-secondery);
}
.top-filters{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 34px 20px;
}
.filters{
    display: flex;
    justify-content: center;
    gap: 14px;
}
.event-type-buttons{
    display: flex;
    justify-content: center;
    gap: 14px;
}
.ev-img{
    width: 239px;
    height: 142px;
    object-fit: cover;
}
.event-type-button, .nav-operate-btn{
    padding: 6px 30px;
    font-size: 14px;
    cursor: pointer;
    background: white;
    border: none;
    border-radius: 43px;
    color: var(--text-secondery);
    transition: 
        background 0.2s ease,
        color 0.2s ease;
}
.event-type-button-selected{
    background: var(--main-gradient);
    color: white;
    font-weight: 600;
}
.selectt-wrapper{
    position: relative;
}
.selectt-wrapper select{
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
    padding: 6px 30px 6px 14px;
    font-size: 14px;
    border: none;
    appearance: none;   
    -webkit-appearance: none;
    -moz-appearance: none;
    width: auto;
    border-radius: 43px;
    cursor: pointer;
}
.selectt-wrapper .icon{
    position: absolute;
    right: 10px;
    top: 10%;
    color: var(--primary-orange);
}
.filter-button{
    padding: 6px 14px;
    font-weight: 600;
    color: var(--primary-orange);
    background-color: var(--clr-secondary);
    font-size: 14px;
    border-radius: 43px;
    border: none;
    cursor: pointer;
}
#settings-button{
    padding: 9px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
#map-icon{
    cursor: default;
}
.search-input{
    width: calc(100% - 40px);
    max-width: 248px;
    border: none;
    border-radius: 43px;
    padding: 6px 30px 6px 10px;
    font-size: 14px;
}
.selectt-wrapper input::placeholder, #search-icon{
    color: var(--primary-grey);
}
.selectt-wrapper input:not(.search-input){
    border: none;
    border-radius: 43px;
    width: 208px;
    padding: 6px 30px 6px 10px;
    font-size: 14px;
}
#search-icon{
    top: 15%;
    cursor: default;
}
.event-date{
    color: var(--primary-grey);
    font-size: 12px;
    margin: 0;
}
.event-type{
    color: var(--primary-orange);
}
.event{
    background-color: var(--clr-secondary);
    padding-bottom: 10px;
    border-radius: 14px;
}
.event-content{
    background-color: white;
    padding: 10px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.event-img-wrapper{
    position: relative;
}
.event-img-location{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    gap: 2px;
    font-size: 10px;
    color: var(--text-secondery);
    padding: 3px 8px;
    border-radius: 15px;
    background-color: #FFF3E6;
    width: fit-content;
    position: absolute;
    top: 9px;
    left: 10px;
}
.event-img-payable-status{
    padding: 3px 8px;
    border-radius: 15px;
    width: fit-content;
    font-size: 10px;
    position: absolute;
    top: 9px;
    right: 10px;
}
.event-img-payable-status.green{
    color: var(--clr-green);
    background-color: var(--bg-green);
}
.event-img-payable-status.red{
    color: var(--clr-red);
    background-color: var(--bg-red);
}

.event-content-left{
    width: calc(100% - 20px);
}
.event-content-right img{
    border-radius: 14px;
}
.events{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 20px;
    justify-content: center;
    margin: 34px 20px;
}
.event-title{
    font-size: 20px;
    font-weight: 500;
    margin: 4px 0 8px 0;
}
.event-short-desc{
    font-size: 12px;
    height: 54px;
    margin: 0;
    vertical-align: middle;
}
.event-info-box{
    display: flex;
    justify-content: space-between;
}
.event-info-title{
    color: var(--primary-grey);
    font-size: 12px;
}
.event-info-value{
    font-size: 12px;
    color: var(--primary-orange);
    font-weight: 500;
}
.progress-box {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  padding: 10px 0 0 10px;
  border-radius: 12px;
  width: fit-content;
  font-family: "Inter", sans-serif;
}

.progress-range {
  appearance: none;
  width: 200px;
  height: 12px;
  border-radius: 8px;
  
  outline: none;
}
.progress-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}
.progress-range::-moz-range-thumb {
  width: 0;
  height: 0;
}
.more-event-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more-bout-event{
    padding-top: 10px;
    padding-right: 10px;
    color: var(--primary-orange);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    display: inline;
    vertical-align: middle;
}
.more-bout-event span{
    font-size: 20px;
}
.quantity-of-people{
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.delete-event-btn, .nav-operate-btn.delete{
    background-color: var(--bg-red);
    color: var(--clr-red);
    padding: 6px 14px;
}
.edit-event-btn, .nav-operate-btn.edit{
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
    padding: 6px 14px;
}
.edit-delete-btns{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.event-details-content{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 50%));
    justify-content: center;
    gap: 28px;
    margin: 18px 40px;
}
.event-details-list-box, .event-details-wrapper{
    background-color: white;
    padding: 20px 11px;
    border-radius: 14px;
}
.event-details-wrapper{
    border-radius: 0 0 14px 14px;
}
.event-important-details > img{
    width: 100%;
    height: 204px;
    margin-bottom: -10px;
    border-radius: 14px 14px 0 0;
}
.event-important-details{
    margin-bottom: 12px;
}
.event-details-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-secondery);
    margin-top: 8px;
    margin-bottom: 14px;
}
.event-details-date{
    margin: 0;
    font-size: 12px;
}
.event-details-date .icon{
    font-size: 16px;
    margin-right: 9px;
}
.event-details-title-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.people-price{
    display: flex;
    justify-content: center;
    gap: 37px;
}
.event-details-span{
    color: var(--primary-grey);
    font-size: 12px;
}
.event-details-content-span{
    font-size: 16px;
}
.event-details-content-span.orange{
    color: var(--primary-orange);
}
.event-details-line{
    background-color: var(--primary-grey);
    margin: 18px auto 10px;
}
.event-details-long-desc-title{
    font-weight: 600;
    font-size: 12px;
    color: var(--text-secondery);
}
.event-details-long-desc-title .icon{
    font-size: 16px;
}
.event-details-long-desc{
    font-size: 12px;
    font-weight: 300;
}
.event-details-localization{
    font-size: 12px;
    margin: 0;
}
.event-details-localization-box .map{
    width: 100%;
}
.event-details-list-title{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-secondery);
    margin: 0 0 14px 0;
}
.event-details-list li{
    font-size: 12px;
}
.event-details-list li::marker{
    font-weight: 700;
}
.event-details-detail{
    background-color: #f7f7f7;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.event-details-detail-title{
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-secondery);
}
.event-details-detail-content{
    color: var(--primary-orange);
    font-size: 14px;
    margin: 0;
}
.staff{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    max-width: calc(100% - 100px);
    margin-bottom: 28px;
}
.staff img{
    width: 135px;
    height: 135px;
    border-radius: 10px;
}
.staff-name{
    margin: 0;
    font-weight: 600;
    font-size: 12px;
}
.staff-class{
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-orange);
}
.staff-desc{
    font-size: 12px;
    font-weight: 300;
    margin: 8px 0 4px;
}
.staff-profile-btn-wrapper{
    display: flex;
    justify-content: flex-end;
}
.staff-profile-btn{
    color: var(--primary-orange);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
.staff-box{
    max-height: 400px;
    overflow-y: auto;
}
.staff-box::-webkit-scrollbar{
  width: 4px; 
}

.staff-box::-webkit-scrollbar-track{
  background: transparent; 
}

.staff-box::-webkit-scrollbar-thumb {
  background-color: black; 
  border-radius: 10px;     
}

.staff-box::-webkit-scrollbar-thumb:hover{
  background-color: black; 
}
.staff-box::-webkit-scrollbar-button{
    display: none;
}
.event-details-special-guest{
    display: flex;
    gap: 4px;
    border: 1px solid #74747450;
    border-radius: 6px;
    padding: 4px 10px;
    margin-bottom: 8px;
}
.event-details-special-guest-name{
    margin: 0;
    font-size: 12px;
    font-weight: normal;
}
.event-details-special-guests-enumerate{
    font-size: 12px;
    font-weight: bold;
}
.delete-event-popup{
    text-align: center;
    position: absolute;
    background-color: var(--clr-secondary);
    padding: 30px;
    backdrop-filter: blur(5px);
    z-index: 1121;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    border: 2px solid var(--primary-orange);
    box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.25);
}
.delete-event-popup h1{
    color: var(--primary-orange);
    font-weight: 500;
}
.delete-event-popup p{
    color: var(--primary-grey);
    font-weight: var(--text-secondery);
}
.delete-event-popup-btns button{
    border: 1px solid var(--primary-grey);
}
.delete-event-popup-btns{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.event-details-props-input, .event-details-props-textarea{
    font-size: 18px;
    color: var(--text-secondery);
    border-radius: 10px;
    border: none;
    outline: 1px solid #74747450;
    background-color: transparent;
    height: 36px;
    margin: 0 5px 5px 5px;
    padding: 0 10px;
}
#event-details-number-of-participants-input{
    width: 30px;
}
.cena-wrapper{
    position: relative;
}
.zl{
    position: absolute;
    top: 15%;
    right: 10px;
}
#event-details-price-input{
    width: 100px;
}
#event-details-small-desc-input{
    width: calc(100% - 30px);
    height: 54px;
}
#event-details-big-desc-input{
    width: calc(100% - 30px);
    max-height: 560px;
    min-height: 108px;
}
#eventDeatilsCitySelect, #eventDetailsStreetInput{
    width: 224px;
}
#eventDetailsStreetNumberInput, #eventDetailsFlatNumberInput{
    width: 40px;
}
#eventDetailsPostialInput{
    width: 80px;
}
.edit-location-row{
    justify-content: space-between;
    gap: 0;
}
.edit-location-row .event-details-props-input{
    margin: 0;
}
#eventDetailsCategorySelect{
    width: 230px;
    padding-left: 35px;
}
.ed-advanced-level-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ed-advanced-level-btn{
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
    font-weight: 600;
    border: none;
    padding: 6px 10px;
    border-radius: 14px;
    cursor: pointer;
}
.ed-selected{
    background-color: var(--primary-orange);
    color: white;
}
.error-display{
    color: rgb(243, 82, 82);
    text-align: center;
}

/* list */

.participant-list-container{
    display: grid;
    margin: 0 10%;
    background-color: white;
    padding: 20px 10px;
    border-radius: 14px;
}
.list-header, .participant-row{
    display: grid;
    grid-template-columns: 60px 0.8fr 1.2fr 180px 120px 120px;
    align-items: center;
}
.participant-row{
    grid-auto-rows: minmax(70px, 90px);
}
.list-header{
    padding: 5px 0;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    border-radius: 8px;
}
.list-header-title{
    font-size: 16px;
    color: var(--primary-grey);
    font-weight: normal;
    margin: 0;
}
#pr-user, #pr-id, #pr-presence, #pr-actions{
    justify-self: center;
}
#pr-user{
    margin-left: -150px;
}
.pr-user{
    display: flex;
    align-items: center;
    gap: 14px;
}
.pr-pfp{
    width: 48px;
    height: 48px;
    border-radius: 100%;
}
.pr-user-name{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.pr-user-join-date{
    font-size: 14px;
    font-weight: 300;
    color: var(--primary-grey);
}
.pr-enumerate{
    color: var(--text-secondery);
    font-size: 16px;
    font-weight: 500;
}
.pr-enumerate-box{
    justify-self: center;
}
.pr-contact p{
    display: inline;
    vertical-align: middle;
    font-size: 16px;
}
.contact-icon{
    color: var(--text-secondery);
}
.pr-email{
    color: var(--primary-orange);
    white-space: nowrap;
}
.pay-status-box span{
    padding: 4.5px 15px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 35px;
}
.pay-status-box.green span{
    color: var(--clr-green);
    background-color: var(--bg-green);
}
.pay-status-box.red span{
    color: var(--clr-red);
    background-color: var(--bg-red);
}
.pr-presence{
    justify-self: center;
}
.presence-box{
    width: 30px;
    height: 25px;
    background-color: #f7f7f7;
    border: 1px solid var(--primary-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.presence-icon{
    transform: translateY(15%);
}
.presence-icon.xmark{
    font-size: 30px;
    color: var(--clr-red);
}
.presence-icon.checkmark{
    color: var(--clr-green);
}
.pr-actions{
    justify-self: center;
}
.pr-list-line{
    width: 100%;
    border: 1px solid #74747425;
}

/* invitations */

.invitations{
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 600px));
    justify-content: center;
    gap: 18px 32px;
    margin: 0;
}
.invitation-box{
    background-color: white;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 14px;
    padding: 20px;
}
.invitation-first-row.som2{
    justify-content: space-between;
    margin: 15px 0 0;
    display: none;
}
.invitation{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.invitation-content{
    display: flex;
    flex-direction: column;
}
.invitation-first-row{
    display: flex;
    gap: 28px;
    margin-bottom: 18px;
}
.invitation-second-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}
.invitation-first-row-box-title{
    color: var(--primary-grey);
    font-size: 12px;
    white-space: nowrap;
}
.invitation-first-row-box-content{
    font-size: 14px;
    white-space: nowrap;
}
.invitation-second-row-span{
    font-weight: 600;
    color: var(--text-secondery);
    font-size: 12px;
}
.invitation-second-row-input{
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-orange);
    max-width: 137px;
    border-radius: 6px;
    border: none;
    outline: 1px solid #74747450
}
.invitation-second-row-button{
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 120px;
}
.invitation-second-row-button.green{
    color: var(--clr-green);
    background-color: var(--bg-green);
}
.invitation-second-row-button.red{
    color: var(--clr-red);
    background-color: var(--bg-red);
}
.event-type-button.generate-btn{
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
}

/* zaproszenie */

.event-invitation img{
    width: 690px;
    height: 170px;
    border-radius: 20.16px;
}
.event-invitation{
    max-width: 690px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20.16px;
}
.main-events-container.relative{
    display: flex;
    justify-content: center;
    align-items: center;
}
.event-invitation-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 17.28px 28.8px 44.2px;
}
.invitation-p{
    margin: 0;
    font-size: 20px;
    color: black;
}
.event-invitation-title{
    color: var(--text-secondery);
    font-size: 34px;
    font-weight: 600;
    margin: 5.26px 0 0;
}
.event-invitation-autor, .event-invitation .event-info-title{
    color: var(--primary-grey);
    font-weight: 300;
    font-size: 17px;
}
.event-invitation .event-info-value{
    color: var(--primary-orange);
    font-size: 17px;
    font-weight: 500;
}
.event-invitation-autor a{
    color: var(--primary-orange);
    font-weight: 500;
    text-decoration: underline;
}
.event-invitation .event-info-box{
    margin-top: 34.56px;
    margin-bottom: 43.2px;
    gap: 46px;
}
.invitation-buttons{
    display: flex;
    justify-content: center;
    gap: 17.28px;
    width: 100%;
}
.invitation-btn{
    color: white;
    padding: 6.6px 45.76px;
    border: none;
    text-align: center;
    border-radius: 7.2px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.invitation-btn.cancel{
    background-color: #4a4a4a;
    width: 25%;
}
.invitation-btn.accept{
    background: var(--main-gradient);
    width: 75%;
}
.event-info-value.invitation-span{
    color: var(--primary-grey);
}
.event-info-value.invitation-span b{
    color: var(--text-secondery);
    font-weight: 500;
}
.invitation-second-row-button.share{
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
}
.invitation-second-row-button-box{
    display: flex;
    justify-content: center;
    gap: 11px;
}

/* generowanie kody popup */

.code-popup{
    background-color: white;
    border-radius: 12px;
    z-index: 1111;
    position: absolute;
    width: clamp(300px, 470px, 600px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
}
.code-popup-heading{
    background: var(--main-gradient);
    color: white;
    padding: 10px 20px;
    border-radius: 12px 12px 0 0;
    position: relative;
}
.code-popup-heading h3{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}
.code-popup-heading p{
    font-weight: 300;
    margin: 0;
    font-size: 12px;
}
.code-x{
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.code-content{
    padding: 20px;
}
.settings-text{
    color: var(--text-secondery);
    font-size: 14px;
}
.settings-text img{
    vertical-align: middle;
}
.code-switch{
    margin-top: 24px;
}
.code-switch span{
    color: var(--primary-grey);
    font-weight: 500;
    font-size: 12px;
}
.switches{
    display: flex;
    justify-content: flex-start;
    margin-top: 6px;
}
.switch-button{
    padding: 4px 22px;
    font-size: 12px;
    background-color: var(--clr-secondary);
    color: var(--primary-orange);
    border: none;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.switch-button.code-selected{
    color: white;
    background-color: var(--primary-orange);
}
.s1{
    border-radius: 5px 0 0 5px;
}
.s2{
    border-radius: 0 5px 5px 0;
}
.code-popup-btns{
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.code-popup-btn{
    font-size: 14px;
    font-weight: 500;
    padding: 4px 27px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.code-popup-btn.cancel{
    background-color: #9e9e9e;
}
.code-popup-btn.add{
    background: var(--main-gradient);
}
.code-popup-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(3px); 
  -webkit-backdrop-filter: blur(3px);
  z-index: 1110;
}

/* filtr popup */

.filter-window{
    position: relative;
}
.filters-window{
    position: absolute;
    top: calc(100% + 10px);
    width: clamp(200px, 300px, 400px);
    padding: 10px;
    background-color: white;
    z-index: 900;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.25);
}
.filters-window h3{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.filters-window-field{
    margin-top: 14px;
}
.filters-window-field span{
    color: var(--primary-grey);
    font-size: 12px;
}
.filters-window-select-wrapper{
    position: relative;
}
.filters-window-arrow{
    position: absolute;
    right: 5px;
    top: 22%;
}
.filters-window-field select{
    width: 100%;
    appearance: none;
    font-size: 14px;
    padding: 2px 8px;
    border: 1px solid #74747475;
    border-radius: 6px;
    cursor: pointer;
}
.time-selects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.5px;
}
.time-selects select{
    width: calc(clamp(200px, 300px, 400px) * 0.5 - 20px);
}
.filters-window-buttons{
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
    gap: 10px;
}
.filters-btn{
    font-size: 14px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 2px 18px;
    cursor: pointer;
}
.filters-btn.cancel{
    background-color: #9e9e9e;
}
.filters-btn.apply{
    background: var(--main-gradient);
}
.event-props-input/*:not(.date-input-container .event-props-input, .time-input-container .event-props-input)*/, .event-category-select{
    width: calc(100% - 40px);
}
.generate-code-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 26px;
    color: white;
    background: var(--main-gradient);
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}
#map-icon{
    cursor: pointer;
}

/* mapa eventow */

.events-map-container{
    width: calc(100% - 40px);
    height: calc(100vh - 220px);
    max-height: none;
    margin: 20px;
    border-radius: 24px;
    margin-bottom: 0;
}
.my-cluster-icon{
  background: var(--main-gradient);
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.custom-cluster{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
  transition: transform 0.3s ease-in-out;
}

.som-desc{
    display: none;
}
.som-line{
    display: none;
}
.hom5{
    display: none;
}

/*popup na mapie */

.events-map-container .leaflet-popup-content-wrapper,
.events-map-container .leaflet-popup-tip{
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
.events-map-container .leaflet-popup-close-button{
    display: none !important;
}
.events-map-container .leaflet-popup-content{
    margin: 0 !important;
    padding: 0 !important;
    line-height: normal !important;
}

.event-on-map-popup{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-30px);
}
.ev-popup-first-row{
    display: flex;
    gap: 12px;
    align-items: center;
}
.ev-popup-informations{
    display: flex;
    flex-direction: column;
}
.ev-popup-date{
    font-size: 12px;
    color: var(--primary-grey);
}
.ev-popup-title{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-secondery);
}
.ev-popup-address{
    font-size: 12px;
    color: var(--text-secondery);
}
.ev-popup-second-row{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 6px 0 12px;
}
.ev-popup-item-name{
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-grey);
}
.ev-popup-item-value{
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-orange);
}
.ev-popup-third-row{
    display: flex;
    gap: 12px;
}
.ev-popup-btn{
    color: var(--primary-orange);
    background-color: var(--clr-secondary);
    font-size: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 2px 10px;
}
.ev-popup-btn.orange{
    color: white;
    background-color: var(--primary-orange);
}
/* media */

@media (max-width: 1405px) {
    .events{
        grid-template-columns: minmax(350px, calc(50% + 350px));
    }
    .event-info-box{
        flex-wrap: wrap;
    }
    .participant-list-container{
        margin: 0 10px;
    }
    .participant-row, .list-header{
        grid-template-columns: 60px 0.8fr 1.2fr 120px 80px 80px;
    }
}
@media (max-width: 1370px) {
    .invitations{
        grid-template-columns: minmax(350px, 600px);
    }
}
@media (max-width: 1260px) {
    .first-row{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    #event-date-input{
        width: auto;
    }
    .event-details-content{
        grid-template-columns: minmax(500px, calc(100% - 100px));
        margin: 18px 5%;
    }
    .event-details-localization-box .map {
        max-width: none;
    }
    .hom-desc{
        display: none;
    }
    .som-desc{
        display: block;
    }
}
@media (max-width: 1190px) {
    .hom2{
        display: none;
    }
    .filters-window{
        left: -120px;
    }
}
@media (max-width: 1055px) {
    .box-for-2-boxes{
        display: block;
    }
    .box-for-2-boxes .event-input-box{
        width: auto;
    }
    .box-for-2-boxes .event-input-box:not(:first-child){
        margin-top: 24px;
    }
    .guest-inputs{
        gap: 10px;
    }
    .list-header{
        display: none;
    }
    .participant-list-container{
        background-color: transparent;
    }
    .participant-row{
        background-color: white;
        border-radius: 14px;
    }
    .participant-list-container .participant-row:not(:last-child){
        margin-bottom: 13px;
    }
    .participant-row{
        display: flex;
        height: clamp(70px, 120px, 180px);
        justify-content: space-between;
        padding: 0 10px;
        flex-wrap: wrap;
    }
    .pr-contact{
        display: none;
    }
    .hom5{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 8px;
    }
    .hom5 > div{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .participant-row > .pr-enumerate-box, 
    .participant-row > .pr-user,
    .participant-row > .pr-contact,
    .participant-row > .pr-pay-status,
    .participant-row > .pr-presence,
    .participant-row > .pr-actions,
    .participant-row > .hom5 > div > .pr-enumerate-box{
        display: none;
    }
    .hom5 > div{
        display: flex;
        align-items: center;
        gap: 8px 10px;
    }
    .hom5 > .pr-contact{
        display: none;
    }
    .pay-status-box span{
        width: 150px;
        display: block;
        text-align: center;
        border-radius: 8px;
    }
    .hom5 > .pr-enumerate{
        display: flex;
        align-items: center;
    }
    .hom5 > div > .pr-user{
        order: 1;
    }
    .hom5 > div > .pr-actions{
        order: 2;
    }
    .hom5 > div > .pr-presence{
        order: 4;
    }
    .hom5 > div > .pr-pay-status{
        order: 3;
    }
    .action{
        width: 25px;
        height: 25px;
    }
    .pr-list-line{
        display: none;
    }
}
@media (max-width: 975px) {
    .event-type-button.ed{
        padding: 6px 10px;
        font-size: 12px;
    }
    .event-type-buttons:has(.event-type-button.ed),
    .edit-delete-btns:has(.event-type-button.ed){
        gap: 2px;
        flex-wrap: wrap;
    }
    .top-filters:has(.event-type-buttons:has(.event-type-button.ed)){
        margin: 0;
    }
}
@media (max-width: 860px) {
    .event-type-button.generate-btn{
        display: none;
    }
    .generate-code-plus{
        display: flex;
    }
}
@media (max-width: 750px) {
    .hom3{
        display: none;
    }
    .invitation-content{
        width: 100%;
    }
    .invitation-second-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .invitation{
        justify-content: flex-start;
        gap: 10px;
    }
    .invitation-second-row-button-box{
        order: 1;
        align-self: center;
        flex-wrap: wrap;
    }
    .invitation-second-row-link{
        order: 2;
        width: 100%;
    }
    .invitation-second-row-input{
        width: calc(100% - 20px);
        max-width: none;
    }
    .invitations{
        margin: 0 2%;
    }
    .invitation-first-row.som2{
        display: flex;
    }
}
@media (max-width: 660px) {
    .events-main{
        margin: 0;
        margin-top: 126px;
    }
    .main-events-container{
        border-radius: 0;
    }
    .hom{
        display: none;
    }
    .event-input-box{
        display: block;
        padding: 10px;
        border: none;
        background-color: white;
    }
    .event-input-box-title{
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        margin-bottom: 8px;
    }
    #eventCategorySelect, .foot-img, .event-category-select-arrow{
        transform: translateX(-20px);
    }
    .tic{
        order: 2;
    }
    .daic{
        order: 1;
    }
    .dic{
        order: 3;
    }
    .event-inputs{
        margin: 24px 20px;
    }
    .event-props-input {
        width: calc(100% - 20px);
        font-size: 16px;
    }
    .event-input-box select{
        font-size: 14px;
    }
    .first-row{
        gap: 4px;
    }
    .location-row{
        gap: 4px;
    }
    .tiic{
        order: 1;
    }
    .sic{
        order: 3;
    }
    .snic{
        order: 4;
    }
    .pic{
        order: 2;
    }
    .event-inputs .map{
        height: 116px;
    }
    .event-price-input-box{
        width: fit-content;
        margin: 0 auto;
    }
    .guest-inputs{
        display: block;
    }
    #guest-name-input,
    #guest-surname-input,
    #guest-nickname-input{
        max-width: none;
        width: calc(100% - 20px);
    }
    .guest-inputs input:not(:first-child){
        margin-bottom: 15px;
    }
    .add-special-guest{
        margin: 15px auto 0 0;
    }
    .search-input{
        max-width: 144px;
    }
    .event-type-button{
        padding: 6px 10px;
        font-size: 12px;
    }
    .event-type-buttons, .filters{
        gap: 4px;
    }
    .event-content{
        flex-direction: column;
        padding: 0;
        row-gap: 10px;
    }
    .event-content-right{
        order: 1;
    }
    .event-content-left{
        order: 2;
        padding: 10px;
    }
    .event-img-wrapper img{
        width: 100%;
        height: 142px;
    }
    .event-date{
        text-align: center;
        margin-top: -15px;
    }
    .event-title{
        font-size: 16px;
        font-weight: 600;
    }
    .progress-range{
        width: calc(100% - 60px);
    }
    .progress-box{
        width: calc(100% - 20px);
    }
    .more-event-info{
        flex-direction: column;
    }
    .more-bout-event{
        width: calc(100% - 40px);
        margin-top: 10px;
        padding: 5px 0;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        color: white;
        background: var(--main-gradient);
        border-radius: 7.2px;
    }
    .edit-delete-btns{
        display: none;
    }
    .event-details-content{
        grid-template-columns: minmax(350px, 100%);
    }
    .event-details-title-box{
        display: block;
    }
    .people-price{
        justify-content: space-evenly;
        margin-top: 20px;
    }
    .people-line-price{
        margin: 0;
        border-color: #74747430;
    }
    .event-details-price, .event-details-places{
        display: block;
        text-align: center;
    }
    .event-details-line{
        border-color: #74747430;
        background-color: transparent;
    }
    .som-line{
        display: block;
    }
}
@media (max-width: 600px) {
  .steps {
    max-width: calc(100% - 40px);
    padding: 0 20px;
  }

  .step span {
    max-width: 170px;
    font-size: 12px;
    padding: 6px 10px;
  }

  .step:not(:last-child)::after {
    height: 4px;
  }
}
@media (max-width: 438px) {
    .invitation{
        align-items: center;
    }
}