:root{
    --main-gradient: 
        linear-gradient(90deg, #E96D00 0%, #F98017 39%, #F59745 100%);
    --purple-gradient:
        linear-gradient(90deg, #CA00E9 12%, #F917F6 76%, #DE45F5 100%);
    --blue-gradient: 
        linear-gradient(90deg, #0052E9 0%, #1766F9 39%, #4582F5 100%);
    --green-gradient: 
        linear-gradient(90deg, #13E900 0%, #22F917 39%, #53F545 100%);
    --primary-orange: #E96D00;
    --clr-secondary: #FFE6D0;
    --text-secondery: #1E2A38;
    --primary-grey: #747474;
    --clr-red: #b71c1c;
    --bg-red: #fdecea;
    --clr-green: #2e7d32;
    --bg-green: #e8f5e9;
    --clr-red2: #E80101;
    --bg-red2: #FFD0D0;
}

/*choose place*/

.choose-place-container{
    padding: 30px;
    margin: 10px;
    background-color: white;
    height: calc(100% - 80px);
    border-radius: 14px;
}
.choose-place-title{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.choose-place-desc{
    font-size: 18px;
    margin: 0;
}
.choose-place-list-box{
    margin-top: 38px;
}
.choose-place-list-title{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 12px 0;
}
.choose-place-list{
    margin: 0;
    li{
        font-size: 18px;
        &::marker{
            font-size: 14px;
        }
    }
}

.choose-place-slider-box{
    position: relative;
    width: 100%;
    max-width: 820px;
    margin-top: 60px;
}
.choose-place-slider{
    width: 100%;
    height: 28px;
    padding: 0;                
    box-sizing: border-box;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    position: relative;
    z-index: 2;
}

.choose-place-slider::-webkit-slider-runnable-track{
    appearance: none;
}

.choose-place-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background:
        linear-gradient(#fff,#fff) padding-box,
        var(--main-gradient) border-box;
    border: 2px solid transparent;
    cursor: pointer;
}

.dot-box{
    display: flex;
    justify-content: space-between;
    width: 100%;             
    box-sizing: border-box;
    margin-top: -35px;              /* pod trackiem */
    position: relative;
    z-index: 1;
    height: 100%;
    background: var(--clr-secondary);
    border-radius: 14px;
}

.cp-dot{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #FFC796;
}
.cp-labels{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
.cp-label-wrapper .cp-label{
    text-align: center;
    color: var(--primary-grey);
    font-size: 14px;
    font-weight: 300;
}
.cp-label-wrapper:first-child .cp-label{
    text-align: left;
}
.cp-label-wrapper:nth-child(3) .cp-label, 
.cp-label-wrapper:last-child .cp-label{
    text-align: right;
}
.cp-price-box{
    display: flex;
    justify-content: flex-end;
}
.cp-price{
    font-size: 28px;
    margin: 0;
    color: var(--primary-orange);
    margin-top: -65px;
    display: flex;
    align-items: flex-end;
}

/* Add place */

.img-input-box{
    width: 59px;
    height: 59px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.event-input-box:has(.image-input-wrapper){
    padding-bottom: 6px;
    .event-input-box-title{
        margin-bottom: 6px;
    }
}
#place-name-input{
    max-width: 434px;
}
.add-place-types{
    width: 100%;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    justify-items: center;
    gap: 46px;
    align-items: center;
}
.add-place-type{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.add-place-type-img-wrapper{
    background-color: var(--clr-secondary);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: scale 0.2s ease;
    &.selected{ background: var(--main-gradient); }
    &:hover{ scale: 1.1; }
    &:active{ scale: 0.9; }
}
.add-place-type-img-wrapper img{
    flex-shrink: 0;
}

.add-place-type-name{
    font-size: 14px;
    color: var(--text-secondery);
    font-weight: normal;
    margin: 0;
    white-space: nowrap;
}
.contact-data-box{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contact-data{
    width: 100%;
    &:has(#placeEmailInput){ max-width: 361px; }
    &:has(#placePhoneInput){ max-width: 253px; }
}
#placeEmailInput{
    box-sizing: border-box;
    width: 100%;
    max-width: 361px;
}
#placePhoneInput{
    box-sizing: border-box;
    width: 100%;
    max-width: 253px;
}
.place-open-hours-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.open-hours-block{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:not(:last-child){ margin-bottom: 38px; }
    label{
        margin-left: 800px;
        margin-top: -22px;
        color: var(--primary-orange);
        font-size: 14px;
    }
}
.open-hours-block-enum{
    font-size: 18px;
    font-weight: 500;
    color: var(--text-secondery);
    position: absolute;
    top: 0;
    left: 50px;
}
.day-btn{
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px dashed var(--primary-grey);
    font-size: 14px;
    color: var(--text-secondery);
    border-radius: 7px;
    cursor: pointer;
    &.selected{ 
        background: var(--main-gradient);
        border: none;
        color: white;
    }
}
.days-row{
    display: flex;
    justify-content: center;
    gap: 38px;
}
#placeOpenHours1, #placeOpenHours2{
    box-sizing: border-box;
    max-width: 106px;
    &:disabled{ opacity: 0.5; }
}
.hours-row{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}
.add-button{
    font-size: 14px;
    color: var(--primary-orange);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.galery-add{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 155px;
    height: 190px;
    border: 1.5px dashed var(--primary-grey);
    border-radius: 14px;
    flex-shrink: 0;
    span{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: 1.5px solid var(--primary-grey);
        border-radius: 50%;
        color: var(--primary-grey);
        font-size: 25px;
    }
}
.galery-counter{
    align-self: flex-end;
    color: var(--text-secondery);
    font-size: 14px;
    white-space: nowrap;
}
.place-galery-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1250px;
    overflow-x: auto;
    gap: 24px;
}
.galery-image{
    position: relative;
    img{
        display: block;
        width: 155px;
        height: auto;
        max-height: 190px;
        border-radius: 14px;
        object-fit: cover;
    }
    div{
        opacity: 0;
        font-size: 40px;
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        transition: opacity 0.2s ease;
        border-radius: 14px;
        cursor: pointer;
    }
    &:hover{
        div{
            opacity: 1;
        }
    }
}
.gallery-container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 24px;
}