:root {
  --main-gradient: linear-gradient(
    90deg,
    #e96d00 0%,
    #f98017 39%,
    #f59745 100%
  );
  --purple-gradient: linear-gradient(
    90deg,
    #ca00e9 12%,
    #f917f6 76%,
    #de45f5 100%
  );
  --blue-gradient: linear-gradient(
    90deg,
    #0052e9 0%,
    #1766f9 39%,
    #4582f5 100%
  );
  --green-gradient: linear-gradient(
    90deg,
    #13e900 0%,
    #22f917 39%,
    #53f545 100%
  );
  --primary-orange: #e96d00;
  --clr-secondary: #ffe6d0;
  --text-secondery: #1e2a38;
  --primary-grey: #747474;
  --clr-red: #b71c1c;
  --bg-red: #fdecea;
  --clr-green: #2e7d32;
  --bg-green: #e8f5e9;
  --clr-red2: #e80101;
  --bg-red2: #ffd0d0;
}
.post-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  max-width: 971px;
  max-height: 698px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.post-popup-back-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  backdrop-filter: blur(2px);
}
.post-popup-img {
  width: 100%;
  max-width: 456px;
  height: 698px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
}
.post-popup-content {
  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
}
.post-popup-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
.post-popup-profile-content {
  display: flex;
  flex-direction: column;
  .name {
    font-size: 14px;
  }
  .date {
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-grey);
  }
}
.post-popup-text {
  margin-top: 12px;
  h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }
  p {
    margin: 0;
    font-size: 14px;
    min-width: 475px;
  }
}
.post-popup-line {
  border: 1px solid #74747450;
  margin: 12px 0;
}
.close-post-popup{
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  top: 103px;
  right: 44px;
  z-index: 3;
  cursor: pointer;
}