:root {
  --main-gradient: linear-gradient(
    90deg,
    #e96d00 0%,
    #f98017 39%,
    #f59745 100%
  );
  --purple-gradient: linear-gradient(
    90deg,
    #ca00e9 12%,
    #f917f6 76%,
    #de45f5 100%
  );
  --blue-gradient: linear-gradient(
    90deg,
    #0052e9 0%,
    #1766f9 39%,
    #4582f5 100%
  );
  --green-gradient: linear-gradient(
    90deg,
    #13e900 0%,
    #22f917 39%,
    #53f545 100%
  );
  --dark-purple-gradient: linear-gradient(90deg, #7c3aed 25%, #9333ea 100%);
  --primary-orange: #e96d00;
  --clr-secondary: #ffe6d0;
  --text-secondery: #1e2a38;
  --primary-grey: #747474;
  --clr-red: #b71c1c;
  --bg-red: #fdecea;
  --clr-green: #2e7d32;
  --bg-green: #e8f5e9;
  --clr-red2: #e80101;
  --bg-red2: #ffd0d0;

  --clr-red3: #c10007;
  --bg-red3: #fef2f2;

  --clr-purple: #bb15fc;
  --bg-purple: #f4e8fc;
  --bold-purple: #531c8e;

  --clr-blue: #155dfc;
  --bg-blue: #e7eefc;
  --bold-blue: #1c398e;

  --clr-cyan: #00ced5;
  --bg-cyan: #e8f5fc;

  --clr-yellow: #e27100;
  --bg-yellow: #f9f0e8;
  --bold-yellow: #7b3306;

  --clr-green2: #00a63e;
  --bg-green2: #e6f5ec;
  --bold-green: #0d542b;

  --border-blue: #dbeafe;
  --bg-blue2: #eff6ff;
}
.post-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  max-width: 971px;
  max-height: 698px;
  display: flex;
  justify-content: center;
  margin: 10px;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.post-popup-back-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 2;
  backdrop-filter: blur(2px);
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.post-popup-img {
  width: 100%;
  max-width: 456px;
  height: 698px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
}
.post-popup-content {
  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
  box-shadow: 1.94px 1.94px 3.88px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}
.post-popup-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
.post-popup-profile-content {
  display: flex;
  flex-direction: column;
  .name {
    font-size: 14px;
  }
  .date {
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-grey);
  }
}
.post-popup-text {
  margin-top: 12px;
  h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }
  p {
    margin: 0;
    font-size: 14px;
    width: 100%;
    max-width: 475px;
  }
}
.post-popup-line {
  border: 1px solid #74747450;
  margin: 12px 0;
}
.close-post-popup {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  top: 103px;
  right: 44px;
  z-index: 3;
  cursor: pointer;
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}

/* ======= MODALS ======= */

/* edit profile */

.template-modal {
  position: absolute;
  background-color: white;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 661px;
  border-radius: 15.71px;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
  & * {
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      height 0.2s ease;
  }
}
.template-modal-back-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  z-index: 2;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.template-modal-header {
  background: var(--main-gradient);
  border-radius: 15.71px 15.71px 0 0;
  padding: 10px 20px;
  position: relative;
}
.template-modal-img-wrapper {
  background-color: #ffc098;
  border-radius: 8.21px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-modal-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.template-modal-info-text {
  h3 {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
  span {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 14px;
  }
}
.close-modal {
  font-weight: 300;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.template-modal-content {
  padding: 20px;
  position: relative;
  max-height: calc(100vh - 75px - 140px);
  overflow-y: auto;
  scrollbar-width: none;
}
.template-modal-input-box {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  width: 100%;
}
.length-counter {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  color: var(--primary-grey);
}
.template-modal-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
  &.flex {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &.secondery {
    color: var(--text-secondery);
  }
}
.template-modal-input {
  padding: 10px 8px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  box-sizing: border-box;
  width: 100%;
  &.textarea {
    box-sizing: border-box;
    height: 167px;
  }
}
.template-modal-line {
  border: 1px solid #74747450;
  margin: 0;
}
.template-modal-btns {
  background-color: #fbfcfd;
  border-radius: 0 0 15.71px 15.71px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 13px 20px 20px;
}
.template-modal-btn {
  padding: 2px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &.cancel {
    background-color: #9e9e9e;
  }
  &.accept {
    background: var(--main-gradient);
  }
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}

/* add product */

.input-switch {
  display: flex;
  position: relative;
  width: 40px;
  height: 20px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .input-switch-back {
      background: var(--dark-purple-gradient);
    }
    &:checked + .input-switch-back::before {
      transform: translateX(20px);
    }
  }
  .input-switch-back {
    position: absolute;
    inset: 0;
    background: var(--main-gradient);
    border-radius: 39px;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: white;
      border-radius: 50%;
      left: 3px;
      top: 2.5px;
      z-index: 2;
      transition: transform 0.2s ease;
    }
  }
}

.tm-select-wrapper {
  position: relative;
  width: 100%;
  .arrow {
    position: absolute;
    top: 13px;
    right: 12px;
    color: var(--primary-grey);
  }
}

select.template-modal-input {
  appearance: none;
  width: 100%;
  height: 43px;
  cursor: pointer;
  &:focus {
    box-shadow: none;
    outline: 2px solid black;
  }
}
.header-inputs {
  display: flex;
  justify-content: space-between;
}
#name {
  width: 100%;
  max-width: 281px;
}
#category {
  width: 100%;
  max-width: 239px;
}
#type {
  width: 100%;
  max-width: 53px;
}
.input-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
}
.quantity-inputs {
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-top: 20px;
  position: relative;
}
.template-modal-title-bold {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
  &.absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.p-size-inputs {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 12px;
}
.template-modal.US {
  .template-modal-header {
    background: var(--dark-purple-gradient);
    .template-modal-img-wrapper {
      background-color: #ae98ff;
    }
  }
}
.modal-nutrients-inputs {
  padding: 10px;
  background-color: #f5f6f8;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-top: 20px;
}
.modal-nutrients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 13px;
  margin-top: 10px;
}
.modal-nutrient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4px;
  &.purple {
    label {
      color: var(--clr-purple);
    }
    input {
      color: var(--bold-purple);
      background-color: var(--bg-purple);
      border-color: var(--clr-purple);
      &::placeholder {
        color: #531c8e50;
      }
    }
  }
  &.blue {
    label {
      color: var(--clr-blue);
    }
    input {
      color: var(--bold-blue);
      background-color: var(--bg-blue);
      border-color: var(--clr-blue);
      &::placeholder {
        color: #1c398e50;
      }
    }
  }
  &.cyan {
    label {
      color: var(--clr-cyan);
    }
    input {
      color: var(--clr-cyan);
      background-color: var(--bg-cyan);
      border-color: var(--clr-cyan);
      &::placeholder {
        color: #00ced550;
      }
    }
  }
  &.yellow {
    label {
      color: var(--clr-yellow);
    }
    input {
      color: var(--bold-yellow);
      background-color: var(--bg-yellow);
      border-color: var(--clr-yellow);
      &::placeholder {
        color: #7b330650;
      }
    }
  }
  &.green {
    label {
      color: var(--clr-green2);
    }
    input {
      color: var(--bold-green);
      background-color: var(--bg-green2);
      border-color: var(--clr-green2);
      &::placeholder {
        color: #0d542b50;
      }
    }
  }
}
.modal-nutrient-name {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.modal-nutrient-value {
  width: 100%;
  max-width: 105px;
  box-sizing: border-box;
  padding: 4px 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px;
  border: 1px solid transparent;
}
.modal-nutrients-inputs.read-only {
  max-width: 581px;
  margin: 12px auto 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr;
  transition:
    grid-template-rows 0.2s ease,
    opacity 0.2s ease,
    margin 0.2s ease;
  overflow: hidden;
  input {
    pointer-events: none;
  }
  .modal-nutrients {
    opacity: 0.5;
    margin-top: 30px;
  }
}
.modal-nutrients-inputs.read-only.collapsed {
  grid-template-rows: 0fr;
  opacity: 0;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.collapsible-wrapper {
  min-height: 0;
}
.relative {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.absolute {
  position: absolute;
  &.top-right-zero {
    top: 0;
    right: 0;
  }
}
.modal-allergens {
  display: flex;
  column-gap: 12px;
  row-gap: 4px;
  flex-wrap: wrap;
  margin: 10px 0;
  min-height: 25px;
}
.modal-allergens-box {
  padding: 10px;
  background-color: #f9fafb;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  margin-top: 20px;
}
.modal-allergen {
  color: var(--bold-blue);
  background-color: var(--bg-blue2);
  font-size: 14px;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
  box-shadow: 0 0 0 0.4px var(--border-blue);
  span {
    font-size: 12px;
    cursor: pointer;
  }
}
@keyframes showUp {
  to {
    opacity: 1;
  }
}
.template-modal-add-input-box {
  display: flex;
  justify-content: stretch;
  gap: 10px;
  width: 100%;
  input {
    max-width: 460px;
  }
}
.modal-add-allergen {
  width: 100%;
  max-width: 131px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: var(--bold-blue);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.modal-add {
  font-size: 12px;
}
.barcode-icon {
  position: absolute;
  top: 10px;
  right: 0;
  cursor: pointer;
}
.template-modal-add-image {
  width: 163px;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed var(--primary-grey);
  border-radius: 13px;
  cursor: pointer;
  span {
    font-size: 26px;
    color: var(--primary-grey);
    border: 1px solid var(--primary-grey);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.template-modal-image-preview {
  width: 163px;
  height: 105px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 13px;
}
.template-modal-image-input-box {
  padding: 10px;
  padding-bottom: 0;
  margin-top: 12px;
}

/* add dish */

.template-modal-info-inputs {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 12px;
}
.modal-ingredients-list{
  li{
    display: flex;
    justify-content: stretch;
    position: relative;
    align-items: center;
    gap: 12px;
    #product{
      max-width: 259px;
    }
    #amount{
      max-width: 70px;
    }
    #type{
      max-width: 169px;
    }
    &:not(:last-child){
      margin-bottom: 8px;
    }
  }
}
.ing-enumeration{
  position: absolute;
  left: -30px;
  top: 8px;
  width: 24px;
  height: 24px;
  background: var(--main-gradient);
  color: white;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-ingredient{
  width: 31px;
  height: 30px;
  box-sizing: border-box;
  background-color: var(--bg-red2);
  border-radius: 6px;
  padding: 6.5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-add-ingredient.add-product-btn{
  position: absolute;
  max-width: 105px;
  border-radius: 6px;
  padding: 1px 10px;
  font-weight: 500;
  top: 10px;
  right: 10px;
  font-size: 14px;
}