:root {
  --main-gradient: linear-gradient(
    90deg,
    #e96d00 0%,
    #f98017 39%,
    #f59745 100%
  );
  --purple-gradient: linear-gradient(
    90deg,
    #ca00e9 12%,
    #f917f6 76%,
    #de45f5 100%
  );
  --blue-gradient: linear-gradient(
    90deg,
    #0052e9 0%,
    #1766f9 39%,
    #4582f5 100%
  );
  --green-gradient: linear-gradient(
    90deg,
    #13e900 0%,
    #22f917 39%,
    #53f545 100%
  );
  --primary-orange: #e96d00;
  --clr-secondary: #ffe6d0;
  --text-secondery: #1e2a38;
  --primary-grey: #747474;
  --clr-red: #b71c1c;
  --bg-red: #fdecea;
  --clr-green: #2e7d32;
  --bg-green: #e8f5e9;
  --clr-red2: #e80101;
  --bg-red2: #ffd0d0;
}
.post-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  max-width: 971px;
  max-height: 698px;
  display: flex;
  justify-content: center;
  margin: 10px;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.post-popup-back-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 2;
  backdrop-filter: blur(2px);
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.post-popup-img {
  width: 100%;
  max-width: 456px;
  height: 698px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
}
.post-popup-content {
  background-color: white;
  border-radius: 0 10px 10px 0;
  padding: 10px 20px;
  box-shadow: 1.94px 1.94px 3.88px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}
.post-popup-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
.post-popup-profile-content {
  display: flex;
  flex-direction: column;
  .name {
    font-size: 14px;
  }
  .date {
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-grey);
  }
}
.post-popup-text {
  margin-top: 12px;
  h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 12px;
  }
  p {
    margin: 0;
    font-size: 14px;
    width: 100%;
    max-width: 475px;
  }
}
.post-popup-line {
  border: 1px solid #74747450;
  margin: 12px 0;
}
.close-post-popup {
  position: absolute;
  font-size: 35px;
  font-weight: bold;
  top: 103px;
  right: 44px;
  z-index: 3;
  cursor: pointer;
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}

/* ======= MODALS ======= */

/* edit profile */

.template-modal {
  position: absolute;
  background-color: white;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 661px;
  border-radius: 15.71px;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.template-modal-back-overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  z-index: 2;
  opacity: 0;
  animation: showUp 0.2s ease forwards;
}
.template-modal-header {
  background: var(--main-gradient);
  border-radius: 15.71px 15.71px 0 0;
  padding: 10px 20px;
  position: relative;
}
.template-modal-img-wrapper {
  background-color: #ffc098;
  border-radius: 8.21px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template-modal-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.template-modal-info-text {
  h3 {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
  span {
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 14px;
  }
}
.close-modal {
  font-weight: 300;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.template-modal-content {
  padding: 20px;
  position: relative;
}
.template-modal-input-box {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.length-counter {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  color: var(--primary-grey);
}
.template-modal-title {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary);
}
.template-modal-input {
  padding: 10px 8px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 300;
  &.textarea {
    box-sizing: border-box;
    height: 167px;
  }
}
.template-modal-line {
  border: 1px solid #74747450;
  margin: 0;
}
.template-modal-btns {
  background-color: #fbfcfd;
  border-radius: 0 0 15.71px 15.71px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 13px 20px 20px;
}
.template-modal-btn {
  padding: 2px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  &.cancel {
    background-color: #9e9e9e;
  }
  &.accept {
    background: var(--main-gradient);
  }
}

@keyframes showUp {
  to {
    opacity: 1;
  }
}
