:root{
    --main-gradient: 
        linear-gradient(90deg, #E96D00 0%, #F98017 39%, #F59745 100%);
    --purple-gradient:
        linear-gradient(90deg, #CA00E9 12%, #F917F6 76%, #DE45F5 100%);
    --blue-gradient: 
        linear-gradient(90deg, #0052E9 0%, #1766F9 39%, #4582F5 100%);
    --green-gradient: 
        linear-gradient(90deg, #13E900 0%, #22F917 39%, #53F545 100%);
    --primary-orange: #E96D00;
    --clr-secondary: #FFE6D0;
    --text-secondery: #1E2A38;
    --primary-grey: #747474;
    --clr-red: #b71c1c;
    --bg-red: #fdecea;
    --clr-green: #2e7d32;
    --bg-green: #e8f5e9;
    --clr-red2: #E80101;
    --bg-red2: #FFD0D0;
}
.profile-main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: 88px;
    grid-template-areas: 
        "main classes type"
        "main rating joined";
    gap: 20px;
}
.profile-panel{
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    padding: 20px;
    transition: 300ms;
}
/* .profile-panel::-webkit-scrollbar{
    width: 4px;
}
.profile-panel::-webkit-scrollbar-track{
    background: var(--primary-grey);
    border-radius: 10px;
}
.profile-panel::-webkit-scrollbar-thumb{
    background: var(--main-gradient);
    border-radius: 10px;
} */
.profile-second{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 263px 425px;
    grid-template-areas: 
        "desc list"
        "awards events";
    gap: 20px;
}
.profile{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.profile-pr-panel-1row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.pfp-site{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.pfp-site img{
    height: 79px;
}
.pfp-site-name{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.pfp-site-work{
    font-size: 18px;
    font-weight: 500;
}
.profile-pr-panel-btns{
    display: flex;
    justify-content: center;
    gap: 12px;
}
.pr-panel-btn{
    border-radius: 6px;
    font-size: 18px;
    border: none;
    width: 44px;
    height: 30px;
    cursor: pointer;
}
.pr-panel-btn.report{
    color: var(--clr-red2);
    background-color: var(--bg-red2);
}
.pr-panel-btn.views{
    color: var(--primary-orange);
    background-color: var(--clr-secondary);
}
.profile-pr-panel-2row{
    display: flex;
    align-items: center;
    gap: 12%;
    margin-top: 18px;
}
.pr-panel-contact-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.pr-panel-contact-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 6px;
}
.pr-panel-contact-icon svg{
    font-size: 20px;
}
.pr-panel-contact-icon#blue{
    background-color: #E8EAF5;
    color: #425EE9;
}
.pr-panel-contact-icon#cyan{
    background-color: #E1F9FF;
    color: #42CBE9;
}
.contact-text-title{
    color: var(--primary-grey);
    font-size: 14px;
}
.contact-text-value{
    font-size: 16px;
    font-weight: 500;
}
.profile-panel.achievement{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.ach-box{
    width: 35px;
    height: 35px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ach-box#blue{
    background-color: #E3F2FD;
}
.ach-box#purple{
    background-color: #F3E5F5;
}
.ach-box#gold{
    background-color: #FFF8E1;
}
.ach-box#green{
    background-color: #E8F5E9;
}
.profile-panel.achievement .contact-text-value{
    font-weight: 600;
    color: black;
}
.profile-panel .recomendation-title{
    font-weight: 500;
    color: black;
    margin-bottom: 16px;
}
.profile-desc{
    color: black;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}
.profile-list li{
    font-size: 16px;
    font-weight: 300;
}
.profile-list li::marker{
    font-size: 12px;
}
.cer-title{
    margin: 0;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
}
.cer-name{
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
}
.cer-place-info{
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 300;
}
.cer-more-info{
    color: var(--primary-grey);
    font-size: 16px;
}
.cer-img{
    margin: 16px 0;
}
.certificates-line{
    border: 1px solid #74747450;
}
.profile-panel .recomended-events{
    max-height: calc(425px - 67px - 16px);
}

/* edit */

.home-page-container.profile-edit-container{
  display: grid;
  grid-template-columns: 292px auto;
	gap: 20px;
  /*nesting*/
	.profile{
		padding-left: 0;
	}
	.profile-edit-side{
    background-color: white;
		margin-top: 10px;
		margin-left: 10px;
		border-radius: 14px;
		position: relative;
	}
  .profile-main{
    grid-auto-rows: 74px;
    .pfp-site{
      img{
        height: 67px;
      }
      .pfp-site-name{
        font-size: 20px;
      }
      .pfp-site-work{
        font-size: 16px;
      }
    }
    .pr-panel-btn{
      font-size: 14px;
      width: 30px;
      height: 23px;
    }
    .pr-panel-contact-icon, .ach-box{
      width: 30px;
      height: 30px;
      svg{
        font-size: 16px;
      }
      img{
        height: 16px;
      }
    }
    .pr-panel-contact-text{
      .contact-text-title{
        font-size: 12px;
      }
      .contact-text-value{
        font-size: 14px;
      }
    }
    .pr-panel-contact-item{
      gap: 19px;
    }
  }
  .profile-second{
    grid-template-areas: 
        "desc list"
        "awards events";
    grid-template-rows: 205px 313px;
    .recomended-events{
      max-height: calc(313px - 85px);
    }
    .pr-events{
        display: none;
    }
    .recomendation-title{
			font-size: 16px;
			margin-bottom: 10px;
			#pr1, #pr2{
				width: 17px;
			}
			#pr3{
				width: 11px;
			}
    }
		.profile-desc{
			font-size: 14px;
			padding: 10px;
		}
		.profile-list{
			margin: 0;
			padding: 10px 10px 10px 30px;
			li{
				font-size: 14px;
			}
		}
		.cer-title, .cer-name{
			font-size: 16px;
		}
		.cer-place-info, .cer-more-info{
			font-size: 14px;
		}
		.cer-img{
			width: 131.03px;
		}
		.profile-panel{
			position: relative;
			.edit-pr-action-btn{
				font-size: 14px;
				font-weight: 300;
				color: var(--primary-grey);
				background-color: transparent;
				padding: 2.5px 10.85px;
				border: 1px solid #C5C3C3;
				border-radius: 12px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				position: absolute;
				top: 15.47px;
				right: 15.47px;
				cursor: pointer;
				img{
					width: 9px;
					height: 9px;
				}
				#act2{
					width: 12px;
					height: 12px;
				}
			}
		}
  }
}
.media-selection{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 27.21px;
}
.media-option{
  background-color: transparent;
  border: none;
  color: var(--primary-grey);
  font-size: 12px;
  position: relative;
  padding: 0;
  cursor: pointer;
  &.selected::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-grey);
  }
}
.medias{
  box-sizing: border-box;
  height: 487px;
  margin-top: 25px;
  background-color: #f7f7f7;
  display: flex;
  padding: 10px;
}
.posts-box{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
}
.add-post-box{
  box-sizing: border-box;
  background-color: white;
  height: 447px;
  width: 345px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #74747450;
  border-radius: 13px;
  flex-shrink: 0;
  span{
    border: 3px solid #74747450;
    box-sizing: border-box;
    font-size: 40px;
    color: #74747450;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &.image{
    width: 164px;
    height: 164px;
  }
}
.posts{
  width: 100%;
}
.images-box{
  width: 100%;
  display: flex;
}
.pr-images{
  width: 100%;
}

/* popup */

.code-popup-heading.evd{
  display: flex;
  gap: 12px;
}
.popup1-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 44px;
  background-color: #FFC098;
  border-radius: 8px;
  img{
    width: 12px;
    height: 20px;
  }
}

/* user data */

.user-data-panel{
	padding: 20px;
	background-color: white;
	border-radius: 14px;
}
.profile-user-data{
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 10px;
	margin-right: 10px;
}
.ud-pfp{
	display: flex;
	align-items: flex-end;
	gap: 16px;
}
.user-data-pfp-wrapper{
	position: relative;
	cursor: pointer;
}
.change-pfp-icon{
	background: var(--main-gradient);
	width: 23.35px;
	height: 23.35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(-50%);
}
.ud-user-name{
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}
.ud-user-status{
	font-size: 18px;
	font-weight: 300;
}
.ud-with-content{
	padding: 10px;
}
.ud-container{
	border: 1px solid #C5C3C3;
	border-radius: 14px;
	padding: 20px;
	position: relative;
}
.user-data-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 24px;
}
.ud-container-title{
	margin: 0 0 28px 0;
	font-size: 18px;
	font-weight: 600;
}
.ud-info-title{
	color: var(--primary-grey);
	font-size: 16px;
}
.ud-info-value{
	font-size: 18px;
}
.edit-pr-action-btn{
	font-size: 14px;
	font-weight: 300;
	color: var(--primary-grey);
	background-color: transparent;
	padding: 2.5px 10.85px;
	border: 1px solid #C5C3C3;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	position: absolute;
	top: 15.47px;
	right: 15.47px;
	cursor: pointer;
	img{
		width: 9px;
		height: 9px;
	}
	#act2{
		width: 12px;
		height: 12px;
	}
}

/* place */
.place-create-box{
  margin-top: 10px;
  margin-right: 10px;
}
.cp-title-box{
  background-color: white;
  padding: 30px;
  border-radius: 14px;
}
.cp-title{
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 8px;
}
.cp-desc{
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  max-width: 848px;
}
.place-choice-box{
  display: flex;
  justify-content: space-between;
  margin: 34px 37px 0;
  gap: 48px;
}
.place-choice{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 20px 20px 30px;
  background-color: white;
  border: 6px solid transparent;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  outline: 1px solid #1E2A3850;
  transition:
    border 300ms ease,
    background 300ms ease,
    box-shadow 300ms ease,
    opacity 300ms ease,
    transform 300ms ease;

  &.disabled{
    opacity: 0.5;
    box-shadow: none;
  }
  &.selected{
    background:
      linear-gradient(white, white) padding-box,
      var(--main-gradient) border-box;
    outline: none;
    border: 6px solid transparent;
    border-radius: 14px;
    transform: translateY(-4px);
  }
  &:not(.disabled):hover {
    transform: translateY(-2px);
    box-shadow: 6px 6px 14px rgba(0,0,0,0.25);
  }
}



.place-choice-title{
  color: var(--text-secondery);
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.place-choice-desc{
  color: var(--text-secondery);
  font-size: 14px;
  margin: 0;
  text-align: center;
}
.place-choice-price{
  font-size: 18px;
  color: var(--text-secondery);
  font-weight: 600;
}
.cp-ns-btn{
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: var(--main-gradient);
  padding: 3px 29px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:disabled{
    opacity: 0.5;
    cursor: default;
  }
}
.cp-next-stage-btn-box{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

/* create trainer profile */

.ctp-header{
  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 69px;
  background-color: #f7f7f7;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ctp-header-text{
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-orange);
}
.ctp-arrow{
  font-size: 20px;
  color: var(--primary-grey);
  justify-self: flex-start;
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.ctp-section{
  box-sizing: border-box;
  background-color: #f7f7f7;
  width: calc(100% - 20px);
  margin: 0 10px 10px;
  min-height: calc(100vh - 99px);
  border-radius: 10px;
  padding: 8em 88px;
}
.ctp-form{
  display: grid;
  grid-template-columns: auto 417px;
  grid-auto-rows: auto;
  gap: 20px;
  grid-template-areas: 
    "basic img"
    "desc spec";
}
.ctp-field{
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
}
.ctp-field-desc{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 18px;
}
.ctp-field-img{
  box-sizing: border-box;
  width: 39px;
  height: 39px;
  border-radius: 8px;
  background: var(--main-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctp-field-text{
  h3{
    margin: 0;
    margin-bottom: -7px;
    font-weight: 400;
    font-size: 14px;
    span{
      color: var(--primary-orange);
      font-weight: 500;
      font-size: 18px;
    }
  }
  span{
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-grey);
  }
}
.ctp-field-inputs{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 17px;
  margin-bottom: 18px;
}
.ctp-input-box{
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4px;
}
.ctp-input-name{
  font-size: 14px;
}
.ctp-input{
  box-sizing: border-box;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  &:focus{
    outline: 2px solid var(--primary-orange);
    box-shadow: 0 0 5px 2px var(--primary-orange);
  }
  &.desc{
    height: 163px;
  }
}
.ctp-pfp-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 57px);
}
.ctp-pfp-placeholder{
  width: 156px;
  height: 156px;
  border-radius: 50%;
  border: 3px dashed #74747450;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: #74747450;
  cursor: pointer;
}
.ctp-pfp{
  width: 156px;
  height: 156px;
  border-radius: 50%;
  cursor: pointer;
}
.ctp-button-box{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.ctp-button{
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: var(--main-gradient);
  border: none;
  border-radius: 8px;
  padding: 7px 70.5px;
  cursor: pointer;
}