:root{
    --main-gradient: 
        linear-gradient(90deg, #E96D00 0%, #F98017 39%, #F59745 100%);
    --purple-gradient:
        linear-gradient(90deg, #CA00E9 12%, #F917F6 76%, #DE45F5 100%);
    --blue-gradient: 
        linear-gradient(90deg, #0052E9 0%, #1766F9 39%, #4582F5 100%);
    --green-gradient: 
        linear-gradient(90deg, #13E900 0%, #22F917 39%, #53F545 100%);
    --primary-orange: #E96D00;
    --clr-secondary: #FFE6D0;
    --text-secondery: #1E2A38;
    --primary-grey: #747474;
    --clr-red: #b71c1c;
    --bg-red: #fdecea;
    --clr-green: #2e7d32;
    --bg-green: #e8f5e9;
    --clr-red2: #E80101;
    --bg-red2: #FFD0D0;
    --primary-green: #004C46;
    --t4b-secondary: #E0F5EF;
    --t4b-gradient:
        linear-gradient(90deg, #17978B 0%, #2BAF9B 39%, #61D4C0 100%);
}
.places-menu-container{
    padding: 10px 9px 10px 20px;
}
.menu-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 88px;
    gap: 16px;
}
.menu-stat-box{
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 24px;
    img{
        border-radius: 6px;
        padding: 9.5px 9px;
        background-color: var(--t4b-secondary);
    }
}
.menu-stat-title{
    font-size: 14px;
    color: var(--primary-grey);
}
.menu-stat-value{
    font-size: 18px;
    font-weight: 600;
}
.places-web-box{
    background-color: white;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 16px;
    padding: 20px;
}
.places-web-title{
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
}
.places-web-name{
    margin: 22px 0 10px;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    width: 100%;
    max-width: 300px;
    align-items: center;
    gap: 18px;
    cursor: pointer;
    span{
        font-size: 12px;
        color: var(--primary-grey);
        margin-left: -6px;
    }
}
.places-web-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition:
        grid-template-rows 0.35s ease,
        opacity 0.25s ease,
        transform 0.25s ease;
    opacity: 0;
    transform: translateY(-6px);
}

.places-web-wrapper.open {
    grid-template-rows: 1fr;
    opacity: 1;
    transform: translateY(0);
}

.places-web-inner {
    overflow: hidden;
    padding-left: 42px;
}

/* STRZAÅKA */
.arrow {
    transition: transform 0.25s ease;
}

.arrow.open {
    transform: rotate(90deg);
}

.web-title{
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin: 0;
}
.places-web-inner > div:not(.places-map-line),
.ind-places-inner > div:not(.places-map-line){
    padding: 10px;
    transition: background-color 0.2s ease;
}
.places-web-inner > div:not(.places-map-line){
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    &:hover{
        background-color: var(--t4b-secondary);
    }
}
.ind-places-inner > div:not(.places-map-line){
    cursor: grab;
}
.ind-places-inner > div:active {
    opacity: .5;
    cursor: grabbing;
}
.drag-ghost{
    padding: 0 60px 60px 0;
}
.web-element-content{
    padding-left: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 12px;
    font-weight: 300;
    color: var(--primary-grey);
}
.ind-places-inner{
    padding-left: 42px;
}
.web-line{
    border-style: 1px solid #474747;
    margin: 22px 0;
}
.places-map-line{
    box-sizing: border-box;
    width: 1.5px;
    height: 100%;
    background-color: #ACACAC;
    position: absolute;
    left: 20px;
    top: 0;
    &.orange { background-color: #FFD6A7; }
}
.places-web-inner .places-map-line{
    height: calc(100% - 12px);
}
.ind-places-inner, 
.places-web-inner{
    position: relative;
}
.web-line + .places-web-title{
    margin-bottom: 10px;
}